<% @articles.each do |article|%>
 <p><%= article.article_name %></p>
 <p>
    <%= link_to "show article", article_path(article), :class => "btn btn-primary" %>
 </p>
<% end %>

<br/>

<%= link_to "new article", new_article_path %>